.box-card-tile .content-wrapper .eand-main-headings .h1,.box-card-tile .content-wrapper .eand-main-headings .h2,.box-card-tile .content-wrapper .eand-main-headings .h3,.box-card-tile .content-wrapper .eand-main-headings .h4,.box-card-tile .content-wrapper .eand-main-headings .h5,.box-card-tile .content-wrapper .eand-main-headings .h6,.box-card-tile .content-wrapper .eand-main-headings h1,.box-card-tile .content-wrapper .eand-main-headings h2,.box-card-tile .content-wrapper .eand-main-headings h3,.box-card-tile .content-wrapper .eand-main-headings h4,.box-card-tile .content-wrapper .eand-main-headings h5,.box-card-tile .content-wrapper .eand-main-headings h6 {
    margin-bottom: 0px
}

.eand-box-card.grid-view .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 16px
}

@media(min-width: 768px) {
    .eand-box-card.grid-view .swiper-wrapper {
        display:flex;
        gap: 0
    }

    .eand-box-card.grid-view .swiper-wrapper .swiper-slide {
        flex: 1;
        -webkit-margin-end: 16px;
        margin-inline-end:16px}
}

@media(min-width: 768px)and (min-width:992px) {
    .eand-box-card.grid-view .swiper-wrapper .swiper-slide {
        -webkit-margin-end:24px;
        margin-inline-end:24px}
}

@media(min-width: 768px) {
    .eand-box-card.grid-view .swiper-wrapper .swiper-slide:last-of-type {
        -webkit-margin-end:0;
        margin-inline-end:0}
}

.eand-box-card .swiper-slide {
    height: auto
}

@media(min-width: 992px) {
    .eand-box-card .swiper-slide {
        flex:1
    }
}

[lang=ar] [dir=rtl] .box-card-tile .eand-badge.new-offers {
    left: auto;
    right: 12px
}