.root.container {
  padding: 0 !important;
  width: 100% !important;
}

.select2-search--dropdown {
  display: none;
}

.select2-results__options {
  padding: 0 1rem !important;
}

.select2-results__option[aria-selected] {
  border-bottom: 1px solid #f1f1eb;
  color: #4b0f1e !important;
  cursor: pointer;
  line-height: 2rem;
}

.global-footprint-swiper .swiper-gallery-slide .global-slide-content .global-slide-info span.icon-flag img {
    width: 100%;
    height: 100%;
}

.global-footprint-swiper .swiper-gallery-thumbs .swiper-slide.swiper-slide-active .slide-thumb-content .slide-thumb-info span.icon-flag img {
    width: 100%;
    height: 100%;
}

.global-footprint-swiper .swiper-gallery-thumbs .swiper-slide .slide-thumb-content .slide-thumb-info span.icon-flag img {
    width: 100%;
    height: 100%;
}

.bring-value-card-wrapper .bring-value-card .bring-value-card-icon img {
    width: 100%;
    height: 100%;
}

.hero-banner-wrapper {
     position: relative;
}
 .hero-banner-wrapper .inc-hero-banner.fullbleed {
     height: inherit;
}
 @media (max-width: 991px) {
     .hero-banner-wrapper .inc-hero-banner .content-wrapper .container .content {
         padding-bottom: 48px;
    }
}
 .hero-banner-wrapper.swiper {
     overflow: hidden;
     height: 554px !important;
}
 @media (min-width: 768px) {
     .hero-banner-wrapper.swiper {
         height: 600px !important;
    }
}
 @media (min-width: 992px) {
     .hero-banner-wrapper.swiper {
         height: 500px !important;
    }
}
 .hero-banner-wrapper.right-slide .content-wrapper .container {
     display: -ms-flexbox;
     display: flex;
     -ms-flex-pack: end;
     justify-content: end;
     text-align: end;
}
 .hero-banner-wrapper.center-slide .content-wrapper .container {
     display: -ms-flexbox;
     display: flex;
     -ms-flex-pack: center;
     justify-content: center;
     text-align: center;
}
 .hero-banner-wrapper .inc-hero-banner .content-wrapper .content {
     width: 388px !important;
}
 @media only screen and (min-width: 992px) and (max-width: 1340px) {
     .hero-banner-wrapper .inc-hero-banner .content-wrapper .content {
         padding-inline-start: 70px;
    }
}
 @media (min-width: 992px) {
     .hero-banner-wrapper .inc-hero-banner .content-wrapper .content {
         width: 560px !important;
    }
}
 .hero-banner-wrapper .inc-hero-banner .content-wrapper .content h1 {
     font-size: 32px;
     font-weight: 600;
}
 @media (min-width: 992px) {
     .hero-banner-wrapper .inc-hero-banner .content-wrapper .content h1 {
         font-size: 54px;
    }
}
 .hero-banner-wrapper .inc-hero-banner .content-wrapper .content .inc-cta .inc--btn {
     text-transform: uppercase;
     width: 180px;
}
 .hero-banner-wrapper .swiper-pagination {
     -ms-flex-align: center;
     align-items: center;
     bottom: 16px !important;
     display: -ms-flexbox;
     display: flex;
     height: 8px;
     -ms-flex-pack: center;
     justify-content: center;
     width: 100%;
}
 .hero-banner-wrapper .hero-controls .hero-next {
     cursor: pointer;
     height: 48px;
     position: absolute;
     top: 47.5%;
     width: 48px;
     z-index: 9;
     right: 1rem;
     left: auto;
}
 .hero-banner-wrapper .hero-controls .hero-prev {
     cursor: pointer;
     height: 48px;
     position: absolute;
     top: 47.5%;
     width: 48px;
     z-index: 9;
     left: 1rem;
     right: auto;
}
 @media (min-width: 992px) {
     .hero-banner-wrapper .swiper-pagination {
         display: none;
    }
}
 @media (max-width: 991px) {
     .hero-banner-wrapper .hero-next, .hero-banner-wrapper .hero-prev {
         display: none;
    }
}
 @media (min-width: 1366px) {
     .hero-banner-wrapper .hero-prev {
         left: 30px;
    }
     .hero-banner-wrapper .hero-next {
         right: 30px;
    }
}
 @media (min-width: 1440px) {
     .hero-banner-wrapper .hero-prev {
         left: 40px;
    }
     .hero-banner-wrapper .hero-next {
         right: 40px;
    }
}
.inc-hero-banner-slider .swiper-pagination-bullet {
    background: #eaeaea;
    margin: 3px;
}
.inc-hero-banner-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #e00800!important;
}
@media only screen and (min-width: 992px) and (max-width: 1340px) {
    .hero-banner-wrapper .inc-hero-banner .content-wrapper .content {
        padding-inline-start: 70px;
    }
}
.inc-hero-banner-slider .swiper-slide {
    text-align: start;
}
.inc-hero-banner-slider .hero-controls{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    z-index: 9;
    width: 100%;
}
.description {
    font-size: 14px;
    letter-spacing: -0.2px;
    margin-top: 16px;
    color: white;
}

.description p {
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .description {
    font-size: 18px;
  }
}
@media (min-width: 992px) and (max-width: 1247px) {
    .hero-next,
    .hero-prev {
        bottom: 32px;
    }
    .hero-next {
        left: 16px;
    }
}

.hero-banner-wrapper .swiper-slide.swiper-slide-visible.swiper-slide-active {
  z-index: 100;
}

.hero-banner-wrapper .inc-hero-banner {
  height: 554px !important;
}

@media (min-width: 768px) {
	.hero-banner-wrapper .inc-hero-banner {
		height: 600px !important;
	}
}

@media (min-width: 992px) {
	.hero-banner-wrapper .inc-hero-banner {
		height: 500px !important;
	}
}

span.copyright-year {
    direction: inherit;
}

.brief-tile-block p {
    margin-bottom: 20px !important;
}

p.paragraph.bold.debt-profile-desc {
    color: #4b0f1e !important;
}

.tile-boxes-section .filter-news-results .f-news-room.active {
    z-index: 1;
}
.hero-banner-wrapper .inc-hero-banner .content-wrapper .content {
    float: left;
    width: 100% !important;
}
@media (min-width: 768px) {
    .hero-banner-wrapper .inc-hero-banner .content-wrapper .content {
        width: 388px !important;
    }
}
@media (min-width: 992px) {
    .hero-banner-wrapper .inc-hero-banner .content-wrapper .content {
        width: 560px !important;
    }
}
.hero-banner-wrapper .inc-hero-banner .content-wrapper .content .hero-details {
    -ms-flex-align: start;
    align-items: flex-start;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100% !important;
}
@media (min-width: 768px) {
    .hero-banner-wrapper .inc-hero-banner .content-wrapper .content .hero-details {
        width: 388px !important;
    }
}
@media (min-width: 992px) {
    .hero-banner-wrapper .inc-hero-banner .content-wrapper .content .hero-details {
        width: 560px !important;
    }
}
.hero-banner-wrapper .inc-hero-banner .content-wrapper .content .hero-details .hero-play-video {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    margin-bottom: 16px;
    cursor: pointer;
    z-index: 2;
}
.hero-banner-wrapper .inc-hero-banner .content-wrapper .content .hero-details .hero-play-video .video-text a {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    padding-inline-end: 12px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}
.hero-banner-wrapper .inc-hero-banner .content-wrapper .content .hero-details .hero-play-video .video-icon,
.hero-banner-wrapper .inc-hero-banner .content-wrapper .content .hero-details .hero-play-video .video-icon img,
.hero-banner-wrapper .inc-hero-banner .content-wrapper .content .hero-details .hero-play-video .video-icon svg {
    height: 1.25rem;
    line-height: 1.25rem;
    width: 1.25rem;
}
.hero-banner-wrapper .inc-hero-banner .content-wrapper .content h1 {
    font-size: 32px;
    font-weight: 600;
}
@media (min-width: 992px) {
    .hero-banner-wrapper .inc-hero-banner .content-wrapper .content h1 {
        font-size: 54px;
        font-weight: 600;
    }
}
.hero-banner-wrapper .inc-hero-banner .content-wrapper .content .description p {
    font-size: 1.125rem;
}
.hero-banner-wrapper .inc-hero-banner .content-wrapper .content .inc-cta .inc--btn {
    text-transform: uppercase;
    width: 180px;
}

/* Hero-video-banner-css */
.inc-hero-banner-slider .swiper-pagination-bullet {
    background: #eaeaea;
    margin: 3px;
}
.inc-hero-banner-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #e00800 !important;
}
@media only screen and (min-width: 992px) and (max-width: 1340px) {
    .hero-banner-wrapper .inc-hero-banner .content-wrapper .content {
        padding-inline-start: 70px;
    }
}
.inc-hero-banner-slider .swiper-slide {
    text-align: start;
}
.inc-hero-banner-slider .hero-controls {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    z-index: 9;
    width: 100%;
}
.description {
    font-size: 14px;
    letter-spacing: -0.2px;
    margin-top: 16px;
    color: #fff;
}
.description,
.description p {
    margin-bottom: 0;
}
@media (min-width: 992px) {
    .description {
        font-size: 14px;
    }
}
@media (min-width: 992px) and (max-width: 1247px) {
    .hero-next,
    .hero-prev {
        bottom: 32px;
    }
    .hero-next {
        left: 16px;
    }
}
.inc-hero-banner {
    height: 554px !important;
}
@media (min-width: 768px) {
    .inc-hero-banner {
        height: 600px !important;
    }
}
@media (min-width: 992px) {
    .inc-hero-banner {
        height: 500px !important;
    }
}
/* End-hero-video-banner css */

/*Eand Sustainablity pages related -- start*/

.media-cta-section.climate .media-cta-wrapper {
	 flex-direction: column-reverse;
}
 @media (min-width: 992px) {
	 .media-cta-section.climate .media-cta-wrapper {
		 flex-direction: row;
	}
}
 .media-cta-section.climate .media-cta-wrapper .cta-btn-wrapper {
	 position: absolute;
	 bottom: 24px;
	 left: 16px;
}
 @media (min-width: 992px) {
	 .media-cta-section.climate .media-cta-wrapper .cta-btn-wrapper {
		 position: absolute;
		 bottom: 48px;
		 left: 12px;
	}
}
 .media-cta-section.climate .media-cta-wrapper .cta-btn-wrapper .learn-more {
	 color: #fff;
}
 .media-cta-section.climate .media-cta-wrapper .cta-btn-wrapper .learn-more svg {
	 vertical-align: middle;
}
 .media-cta-section.climate .media-cta-wrapper .cta-btn-wrapper .learn-more:hover {
	 text-decoration: underline;
	 color: #fff !important;
}
 *[lang="ar"] *[dir="rtl"] .media-cta-section.climate .media-cta-wrapper .cta-btn-wrapper {
	 position: absolute;
	 bottom: 24px;
	 right: 16px;
}
 @media (min-width: 992px) {
	 *[lang="ar"] *[dir="rtl"] .media-cta-section.climate .media-cta-wrapper .cta-btn-wrapper {
		 position: absolute;
		 bottom: 48px;
		 right: 12px;
	}
}
 *[lang="ar"] *[dir="rtl"] .media-cta-section.climate .media-cta-wrapper .cta-btn-wrapper svg {
	 transform: rotate(180deg);
}
.custom-breadcrumb {
	 background: #fff;
	 padding: 8px 0;
}
 .custom-breadcrumb .breadcrumb {
	 margin: 0;
	 background: transparent;
	 font-size: 14px;
	 display: flex;
	 gap: 8px;
}
 .custom-breadcrumb .breadcrumb .breadcrumb-item {
	 display: flex;
	 align-items: center;
	 gap: 4px;
}
 .custom-breadcrumb .breadcrumb .breadcrumb-item a {
	 color: #A3A1A9;
	 text-decoration: none;
}
 .custom-breadcrumb .breadcrumb .breadcrumb-item a:hover {
	 text-decoration: underline;
}
 .custom-breadcrumb .breadcrumb .breadcrumb-item.active {
	 color: #e00800;
	 font-weight: 600;
}
 .custom-breadcrumb .breadcrumb .breadcrumb-item.active .arrow {
	 margin-left: 5px;
	 color: #e00800;
	 font-size: 16px;
}
 .custom-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
	 content: "";
}
 #loadMoreHighlights {
	 width: 100% !important;
}
.rounded-var .media-cta-container {
	 border-radius: 24px;
	 overflow: hidden;
}

.rounded-var .media-cta-container .media-cta-wrapper {
	 background-color: #E00800;
}

.rounded-var .media-cta-container .media-cta-wrapper .body-standard h1, .rounded-var .media-cta-container .media-cta-wrapper .body-standard h2, .rounded-var .media-cta-container .media-cta-wrapper .body-standard h3, .rounded-var .media-cta-container .media-cta-wrapper .body-standard h4, .rounded-var .media-cta-container .media-cta-wrapper .body-standard h5, .rounded-var .media-cta-container .media-cta-wrapper .body-standard h6, .rounded-var .media-cta-container .media-cta-wrapper .body-standard p {
	 color: #fff !important;
}

.rounded-var .media-cta-container .media-cta-wrapper .media-cta-photo {
	 height: 390px;
	 background-color: #E00800;
}

.media-cta-wrapper.round-img .cover {
	 border-radius: 16px;
}

*[lang="ar"] *[dir="rtl"] .custom-breadcrumb svg {
	transform: rotate(180deg);
}

.heading-with-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 992px) {
  .inc-feature-watch-module.flipped.rounded-var .inc-feature-watch-wrapper {
    gap: 92px;
    align-items: center;
  }
}

.inc-feature-watch-module.flipped.rounded-var .inc-feature-watch-wrapper .image-container {
  border-radius: 18px;
  min-width: 50%;
  width: 100%;
  height: 210px;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

@media (min-width: 768px) {
  .inc-feature-watch-module.flipped.rounded-var .inc-feature-watch-wrapper .image-container {
    min-width: 50%;
    height: 300px;
  }
}

.inc-feature-quick-links-module .inc-cta {
  text-align: center;
}

.inc-feature-quick-links-module .inc-cta .inc--btn {
  min-width: 360px;
}

/*Eand Sustainablity pages related -- End*/
